{{#each this}}
<div>
    <h2><img src='{{flags.svg}}' alt='Flag: {{name.official}}' width="100px" />{{name.official}}</h2>
    <ul>
        <li>Capital: {{capital}}</li>
        <li>Population: {{population}}</li>
        <li>Languages: {{lang}} </li>
    </ul>
</div>
{{/each}}
